Repository it-at-m/swim, changes with the labels that .github/labeler.yml gives for each.
All labels: Component: Matching, Component: Dispatch, Component: DMS, Component: Invoice, Component: Handler-Core

[maven-release-plugin] prepare release dms-service-0.4.0
  dms-service/pom.xml
Labels: Component: DMS

[maven-release-plugin] prepare for next development iteration
  dms-service/pom.xml
Labels: Component: DMS

[maven-release-plugin] prepare release dispatch-service-0.4.0
  dispatch-service/pom.xml
Labels: Component: Dispatch

[maven-release-plugin] prepare for next development iteration
  dispatch-service/pom.xml
Labels: Component: Dispatch

[maven-release-plugin] prepare release invoice-service-0.1.0
  invoice-service/pom.xml
Labels: Component: Invoice

[maven-release-plugin] prepare for next development iteration
  invoice-service/pom.xml
Labels: Component: Invoice

:rotating_light: dms add 1 to PMD magic numbers
  dms-service/pom.xml
  dms-service/swim-pmd-ruleset.xml
Labels: Component: DMS

:sparkles: dms init target coo via dms object name
  dms-service/src/main/java/de/muenchen/oss/swim/dms/adapter/out/dms/ApiClientConfiguration.java
  dms-service/src/main/java/de/muenchen/oss/swim/dms/adapter/out/dms/DmsAdapter.java
  dms-service/src/main/java/de/muenchen/oss/swim/dms/application/port/out/DmsOutPort.java
  dms-service/src/main/java/de/muenchen/oss/swim/dms/application/usecase/ProcessFileUseCase.java
  dms-service/src/main/java/de/muenchen/oss/swim/dms/domain/model/UseCase.java
Labels: Component: DMS

:pencil2: dms fix resource typo
  dms-service/README.md
  dms-service/src/main/java/de/muenchen/oss/swim/dms/adapter/out/dms/DmsAdapter.java
  dms-service/src/main/java/de/muenchen/oss/swim/dms/application/port/out/DmsOutPort.java
  dms-service/src/main/java/de/muenchen/oss/swim/dms/domain/model/UseCase.java
Labels: Component: DMS

:sparkles: dms init target coo via dms object name add test
  dms-service/src/test/java/de/muenchen/oss/swim/dms/application/usecase/ProcessFileUseCaseTest.java
  dms-service/src/test/resources/application-test.yml
Labels: Component: DMS

:bug: dms target coo via dms object name fix type map
  dms-service/src/main/java/de/muenchen/oss/swim/dms/adapter/out/dms/DmsAdapter.java
Labels: Component: DMS

:technologist: dms add local test use case
  dms-service/src/main/resources/application-local.yml
Labels: Component: DMS

:pencil2: dispatch property protocolProcessedStateTageValue fix typo
  dispatch-service/src/main/java/de/muenchen/oss/swim/dispatcher/application/usecase/ProtocolProcessingUseCase.java
  dispatch-service/src/main/java/de/muenchen/oss/swim/dispatcher/configuration/SwimDispatcherProperties.java
  dispatch-service/src/main/resources/application.yml
  dispatch-service/src/test/java/de/muenchen/oss/swim/dispatcher/application/usecase/ProtocolProcessingUseCaseTest.java
Labels: Component: Dispatch

.github/labeler.yml:

"Type: Feature":
  - head-branch: [ '^feat', '-feature-' ]
"Type: Bug":
  - head-branch: [ '^bug', '-bug-' ]
"Type: Maintenance":
  - head-branch: [ '^maint', '^refact', '-maintenance-' ]
"Type: Documentation":
  - head-branch: [ '^docs', '-documentation-' ]
  - changed-files:
    - any-glob-to-any-file: [ 'docs/**' ]
"Type: Dependency":
  - head-branch: [ '^dep', '-dependency-' ]
"Type: Security":
  - head-branch: [ '^sec', '-security-' ]
"Component: Matching":
  - changed-files:
    - any-glob-to-any-file: [ 'matching-service/**' ]
"Component: Dispatch":
  - changed-files:
    - any-glob-to-any-file: [ 'dispatch-service/**' ]
"Component: DMS":
  - changed-files:
    - any-glob-to-any-file: [ 'dms-service/**' ]
"Component: Invoice":
  - changed-files:
      - any-glob-to-any-file: [ 'invoice-service/**' ]
"Component: Handler-Core":
  - changed-files:
      - any-glob-to-any-file: [ 'handler-core/**' ]
